---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import ContactCard from "../components/ContactCard.astro";
import SectionHeader from "../components/SectionHeader.astro";
import TeamCard from "../components/soccer/TeamCard.astro";

import soccerImage from "../assets/soccer.webp";
import contactImage from "../assets/contact.webp";
import teamImage from "../assets/team.webp";

import { getTeams } from "../lib/soccer/teams";
var teams = await getTeams(false);
---

<Layout title="Fußball">
    <main>
        <Header title="Fußball - Herren" imageMetadata={soccerImage} />

        <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
            <div
                class="w-72 sm:w-[28rem] card bg-spartaGray text-white shadow-md shadow-gray-400"
            >
                <div class="card-body">
                    <h2 class="card-title">Trainingszeiten</h2>
                    <p>AH <br /> Donnerstag 19:00 - 20:30 Uhr</p>
                    <p>
                        1. Mannschaft <br /> Dienstag & Donnerstag 18:45 - 20:45
                        Uhr
                    </p>
                    <p>PM Bonifaz <br /> Mittwoch 18:30 - 20:30 Uhr</p>
                </div>
            </div>
        </div>

        <div>
            <SectionHeader title="Mannschaften" imageMetadata={teamImage} />

            <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
                {
                    teams.map((team) => (
                        <TeamCard
                            name={team.name}
                            league={team.league}
                            rank={team.rank}
                            goalDifference={team.goalDifference}
                            link={team.link}
                        />
                    ))
                }
            </div>
        </div>

        <div>
            <SectionHeader title="Kontakt" imageMetadata={contactImage} />

            <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
                <ContactCard title="TBD (1. Abteilungsleiter)" mail="..." />
                <ContactCard title="TBD (2. Abteilungsleiter)" mail="..." />
            </div>
        </div>
    </main>
</Layout>
