---
import { getImage } from "astro:assets";
import racketImage from "../assets/racket.webp";

import Header from "../components/Header.astro";
import Team from "../components/Team.astro";
import Layout from "../layouts/Layout.astro";

import { getTeams } from "../lib/table-tennis";

const optimizedBackground = await getImage({
    src: racketImage,
});

var teams = await getTeams();
---

<Layout title="Tischtennis">
    <main>
        <Header title="Tischtennis" imageMetadata={racketImage} />

        <div class="flex flex-wrap justify-center gap-6 mb-5 mt-5">
            {
                teams.map((team) => (
                    <Team
                        name={team.name}
                        league={team.league}
                        rank={team.rank}
                        points={team.points}
                        link={team.link}
                    />
                ))
            }
        </div>
    </main>
</Layout>
