---
import racketImage from "../assets/racket.webp";
import contactImage from "../assets/contact.webp";
import typeWriterImage from "../assets/typewriter.webp";

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Team from "../components/Team.astro";
import SectionHeader from "../components/SectionHeader.astro";
import ContactCard from "../components/ContactCard.astro";
import NewsCard from "../components/NewsCard.astro";

import { createSlug } from "../lib/convenience";
import { latestTableTennisNews } from "../lib/news";
import { getTeams } from "../lib/table-tennis";

var teams = await getTeams();
---

<Layout title="Tischtennis">
    <main>
        <Header title="Tischtennis" imageMetadata={racketImage} />

        <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
            {
                teams.map((team) => (
                    <Team
                        name={team.name}
                        league={team.league}
                        rank={team.rank}
                        points={team.points}
                        link={team.link}
                    />
                ))
            }
        </div>
        <div>
            <SectionHeader title="News" imageMetadata={typeWriterImage} />

            <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
                {
                    latestTableTennisNews.map((news) => (
                        <NewsCard
                            body={
                                news.content
                                    ?.split(" ")
                                    .slice(0, 15)
                                    .join(" ") + " ..."
                            }
                            title={news.title}
                            link={"/news/" + createSlug(news.title!)}
                        />
                    ))
                }
            </div>
        </div>
        <div>
            <SectionHeader title="Kontakt" imageMetadata={contactImage} />

            <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
                <ContactCard
                    title="Jürgen Fietz (1. Abteilungsleiter)"
                    mail="juergen_fietz@web.de"
                    phone="0911 542 611"
                    mobile="0170 337 303 5"
                />
                <ContactCard
                    title="Armin Ufert (2. Abteilungsleiter)"
                    mail="armin.ufert@gmx.de"
                />
            </div>
        </div>
    </main>
</Layout>
