---
import racketImage from "../assets/racket.webp";
import contactImage from "../assets/contact.webp";
import typeWriterImage from "../assets/typewriter.webp";
import teamImage from "../assets/team.webp";

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionHeader from "../components/SectionHeader.astro";
import ContactCard from "../components/ContactCard.astro";
import NewsCard from "../components/NewsCard.astro";
import Team from "../components/tableTennis/Team.astro";
import TrainingTimes from "../components/tableTennis/TrainingTimes.astro";
import Events from "../components/tableTennis/Events.astro";

import { createSlug } from "../lib/convenience";
import { latestTableTennisNews } from "../lib/news";
import { getTeams } from "../lib/tableTennis/teams";
import GoogleMaps from "../components/GoogleMaps.astro";

var teams = await getTeams();
---

<Layout title="Tischtennis">
    <main>
        <Header title="Tischtennis" imageMetadata={racketImage} />

        <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
            <Events />
            <TrainingTimes />
        </div>

        <div>
            <SectionHeader title="Mannschaften" imageMetadata={teamImage} />

            <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
                {
                    teams.map((team) => (
                        <Team
                            name={team.name}
                            league={team.league}
                            rank={team.rank}
                            points={team.points}
                            link={team.link}
                        />
                    ))
                }
            </div>
        </div>
        <div>
            <SectionHeader title="News" imageMetadata={typeWriterImage} />

            <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
                {
                    latestTableTennisNews.map((news) => (
                        <NewsCard
                            body={
                                news.content
                                    ?.split(" ")
                                    .slice(0, 15)
                                    .join(" ") + " ..."
                            }
                            title={news.title}
                            link={"/news/" + createSlug(news.title!)}
                        />
                    ))
                }
            </div>
        </div>
        <div>
            <SectionHeader title="Kontakt" imageMetadata={contactImage} />

            <div class="flex flex-wrap justify-center gap-6 mb-10 mt-5">
                <ContactCard
                    title="Jürgen Fietz (1. Abteilungsleiter)"
                    mail="juergen_fietz@web.de"
                    phone="0911 542 611"
                    mobile="0170 337 303 5"
                />
                <ContactCard
                    title="Armin Ufert (2. Abteilungsleiter)"
                    mail="armin.ufert@gmx.de"
                />
            </div>
        </div>

        <GoogleMaps
            latitude={49.43233666177542}
            longitude={11.088991326381146}
            zoom={15}
            title="DJK Sparta Noris TT"
            hasInfoWindow={true}
            displayInfoWindowOnClick={false}
            infoWindowContent='<h1 class="text-xl">DJK Sparta Tischtennis</h1><p>Eingang über den Pausenhof der Sperberschule.<br/>Zugang über die Langobardenstraße.</p>'
        />
    </main>
</Layout>
