---
import Layout from "../../layouts/Layout.astro";
import { news } from "../../lib/news";
import { createSlug } from "../../lib/convenience";
import typeWriterImage from "../../assets/typewriter.webp";
import SectionHeader from "../../components/SectionHeader.astro";
import { Picture } from "astro:assets";

export async function getStaticPaths() {
  return news.map((news) => ({
    params: {
      slug: createSlug(news.title!),
    },
    props: news,
  }));
}

const article = Astro.props;
---

<Layout title={article.title!} description={article.title!}>
  <main>
    <SectionHeader title="News" imageMetadata={typeWriterImage} />

    <div class="my-5 flex flex-col items-center text-center">
      <h2 class="mt-5 mb-8 p-0.5 text-xl font-semibold sm:text-2xl">
        {article.category === "table-tennis" && "🏓 "}
        {article.category === "soccer" && "⚽ "}
        {article.category === "general" && "🤝 "}
        {article.category === "health-sport" && "🧘‍♀️ "}
        {article.category === "indiaca" && "🪶 "}
        {article.category === "tennis" && "🎾 "}{article.title}
      </h2>
      <div class="mx-5 sm:w-2/3 lg:w-1/2 xl:w-1/2 2xl:w-2/5">
        <div class="text-justify whitespace-pre-line">
          {article.content}
        </div>
        {
          (article as any).imageUrl && (
            <div class="mt-5">
              <Picture
                src={(article as any).imageUrl}
                alt="Ein passendes Bild zu diesem Artikel"
                inferSize={true}
                widths={[400, 800, 1200]}
                sizes="(max-width: 640px) 100vw, (max-width: 1024px) 66vw, 50vw"
                formats={["webp"]}
                class="w-full rounded-lg"
              />
            </div>
          )
        }
        <div class="mt-5 text-left text-sm">
          Published at: {article.releaseDate}
        </div>
      </div>
    </div>
  </main>
</Layout>
