---
interface Props {
  name: string;
  league: string;
  rank: string;
  goalDifference: string;
  link: string;
}

const { name, league, link, rank, goalDifference } = Astro.props;
---

<div>
  <div
    class="card via-spartaRed w-[306px] bg-gradient-to-b from-[#8b0000] to-[#ff6666] text-white shadow-md shadow-gray-400 sm:w-80"
  >
    <div class="card-body p-4">
      <h2 class="card-title justify-center">{name}</h2>
      <p>
        {league}<br />
        Tabellenrang {rank}<br />
        Torverhältnis {goalDifference}
      </p>
      <div class="card-actions justify-center">
        <a
          href={link}
          target="_blank"
          class="btn btn-outline hover:border-spartaGray hover:bg-spartaGray mt-4 transition duration-300 ease-in-out hover:-translate-y-1 hover:text-white"
          >BFV</a
        >
      </div>
    </div>
  </div>
</div>
