---
interface Props {
    name: string;
    league: string;
    link: string;
    rank: string;
    points: string;
}

const { name, league, link, rank, points } = Astro.props;
---

<div>
    <div
        class="card sm:w-80 w-[306px] text-white bg-gradient-to-b from-[#8b0000] via-spartaRed to-[#ff6666] drop-shadow-xl"
    >
        <div class="card-body p-4">
            <h2 class="card-title justify-center">{name}</h2>
            <p>
                {league}<br />
                Tabellenrang {rank}<br />
                Punkte {points}
            </p>
            <div class="card-actions justify-center">
                <a href={link} target="_blank" class="btn btn-outline mt-4"
                    >Click-TT</a
                >
            </div>
        </div>
    </div>
</div>
